name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: -D warnings
  RUSTFLAGS: -D warnings
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Install cargo-insta
      uses: baptiste0928/cargo-install@v2
      with:
        crate: cargo-insta
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: make test
    - name: Run clippy
      run: cargo clippy
    - name: Run fmt
      run: cargo fmt --all -- --check
